*
{
  padding: 0;
  margin: 0;
  box-sizing: border-box;

}
body
{
/*  <!--background-image: url(bgcolor_04.jpg);--> */
/*  <!--background-size: cover;--> */
/*  <!--background-position: center;--> */
display: block;
  margin: 0;
  padding: 0;
  background: #ffffff;
  font-family: sans-serif,ShopifySans, Helvetica, Arial, Lucida Grande, sans-serif;
  line-height: 1.5;
}

.img-left img

{
  height: 415px;
  width: 648px;

}

.my-table
{
  text-align:center;
}

.my-table ul
{
  display: inline-flex;
  list-style: none;
}

.my-table ul li
{
  width: 100px;
  margin: 10px;
  padding: 5px;
}

.menu-bar
{
  background: rgb(0,100,0);
  text-align:center;
}
.menu-bar ul
{
  display: inline-flex;
  list-style: none;
  color: #fff;
  flex-wrap: wrap;
}
.menu-bar ul li
{
  width: 120px;
  margin: 15px;
  padding: 15px;
  position: relative;
}
.menu-bar ul li a
{
  text-decoration: none;
  color: #fff;
}
.active, .menu-bar ul li:hover
{
  background: #2bab0d;
  border-radius: 3px;
}

.menu-bar .fa
{
    margin-right: 8px;
}

.sub-menu-1
{
  display: none;
}

.menu-bar ul li:hover .sub-menu-1
{
  display: block;
  position: absolute;
  background: rgb(0,100,0);
  margin-top: 15px;
  margin-left: -15px;
}

.menu-bar ul li:hover .sub-menu-1 ul
{
  display: block;
  margin: 5px;
}

.menu-bar ul li:hover .sub-menu-1 ul li
{
  width: 150px;
  padding: 0px;
  border-bottom: 1px dotted #fff;
  background: transparent;
  border-radius: 0;
  text-align: left;
  font-size: 12px;
  font-family: "AvantGardeGothic",Verdana,Arial,Helvetica,sans-serif;
}

.menu-bar ul li:hover .sub-menu-1 ul li:last-child
{
  border-bottom: none;
}

.menu-bar ul li:hover .sub-menu-1 ul li a:hover
{
  color: #b2ff00;
}
